<?php
  if (DEVELOPMENT_MODE == true):
    $file = [
      "jquery.js",
      "plugins.js",
      "components/select-boxes.js",
      "components/selectsplitter.js",
      "jquery.nivo.js",
      "functions.js",
      "parsley.js",
      "skills.js",
    ];
  
    $time = time();
  
    foreach ($file as $filename):
      echo "<script type=\"text/javascript\" src=\"/assets/js/$filename?version=$time\"></script>";
    endforeach;
    
    echo "<script src=\"https://www.google.com/recaptcha/api.js\"></script>";
  else :
    ## TODO
  endif;
  
  if (DEVELOPMENT_MODE === false):
    $script
      = <<<SCRIPT
     <script>
    if (location.protocol != 'https:') { location.href = 'https:' + window.location.href.substring(window.location.protocol.length); }

    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
    (i[r].q = i[r].q || []).push(arguments)
}, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-92650181-1', 'auto');
    ga('send', 'pageview');
</script>
SCRIPT;
    echo $script;
  endif;