<?php $html_title = 'Login'; ?>
<?php require_once "shared/login_header.html"; ?>
<?php require_once "../config.php"; ?>
<?php require_once(ROOT_PATH."/forms/login_form.php"); ?>
<style type="text/css">
    .dark .close {
            color: white;
    }
</style>
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">

                <div class="tab-container">

                    <div class="tab-content clearfix" id="tab-login">
                        <div class="panel panel-default nobottommargin">
                            <div class="panel-body" style="padding: 40px;">

                                <?php require_once(ROOT_PATH.'/public/shared/html_errors.html'); ?>
                                
                                 <form data-parsley-validate="" id="contact-form" name="contact-form"  method="POST" class="nobottommargin" action="<?php echo $_SERVER['PHP_SELF'] ?>">
                                    <h3>Contact Us</h3>
                                    <div class="col_full">
                                        <label for="name">Name : </label>
                                        <input id="name" required="" name="name" value="" class="form-control" type="text">
                                    </div>

                                    <div class="col_full">
                                        <label for="email">Email :</label>
                                        <input id="email" name="email" value="" required="" class="form-control" type="email">
                                    </div>
                                     <div class="col_full">
                                        <label for="reason">Reason :</label>
                                        <input id="reason" name="reason" value="" required="" class="form-control" type="text">
                                    </div>

                                    <div class="col_full">
                                        <label for="message">Message(10 chars min, 1000 max) :</label>
                                        <textarea id="message" name="message" required=""  class="form-control"  data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="1000" data-parsley-minlength-message="Come on! You need to enter at least a 10 character in message field." data-parsley-validation-threshold="10"></textarea>
                                    </div>

                                    <div class="col_full nobottommargin">
                                        <button  type="submit" class="button button-3d button-black nomargin" id="contact-form-submit" name="contact-form-submit" value="Save">Send</button>
                                    </div>
                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- #content end -->

<?php require_once 'shared/login_footer.html'; ?>
