<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/public/assets/js/jquery-3.1.1.min.js"></script>
<script src="/public/assets/js/tether.min.js"></script>
<script src="/public/assets/js/bootstrap.min.js"></script>

</body>
</html>
