<?php require_once "shared/login_header.html"; ?>
<?php require_once "../config.php"; ?>
<?php require_once(ROOT_PATH."/forms/login_form.php"); ?>

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">

                <div class="tab-container">

                    <div class="tab-content clearfix" id="tab-login">
                        <div class="panel panel-default nobottommargin">
                            <div class="panel-body" style="padding: 40px;">

                                <?php require_once(ROOT_PATH.'/public/shared/html_errors.html'); ?>

                                <form id="login-form" name="login-form" class="nobottommargin" action="<?php echo $_SERVER['PHP_SELF'] ?>" method="post">

                                    <h3>Forgot Password ?</h3>

                                    <div class="col_full">
                                        <label for="login-form-username">Username:</label>
                                        <input type="text" id="forget-form-username" name="forget-form-username" value="" class="form-control" />
                                    </div>

                                    <div class="col_full nobottommargin">
                                        <button class="button button-3d button-black nomargin" id="forget-form-submit" name="forget-form-submit" value="login">Reset Password</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section><!-- #content end -->

<?php require_once 'shared/login_footer.html'; ?>
