<?php $html_title = 'Registration'; ?>
<?php require_once "shared/login_header.html"; ?>
<?php require_once "../config.php"; ?>
<?php require_once(ROOT_PATH."/forms/registration_form.php"); ?>
<?php require_once(ROOT_PATH."/helpers/pre_defined.php"); ?>

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
          
          <?php require_once(ROOT_PATH.'/public/shared/html_errors.html'); ?>
          <?php require_once(ROOT_PATH.'/public/shared/html_alert_messages.html'); ?>
          <?php require_once(ROOT_PATH.'/public/shared/html_success_messages.html'); ?>

            <div class="clearfix topmargin-sm"></div>

            <div class="tabs clearfix" id="tab-1" data-active="<?php echo isset($_POST['register-client-form-submit']) ? '2' : '1'; ?>">

                <ul class="tab-nav clearfix">
                    <li><a href="#tabs-1">Professional<sup><i class="font-registration-tab">&nbsp;&nbsp;&nbsp;i want to sell service</i></sup></a></li>
                    <li><a href="#tabs-2">Client<sup><i class="font-registration-tab">&nbsp;&nbsp;&nbsp;i want to hire professional</i></sup></a></li>
                </ul>
                <div class="clearfix"></div>

                <div class="tab-container">

                    <div class="tab-content clearfix" id="tabs-1">

                        <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tab-register">
                                    <div class="panel panel-default nobottommargin">
                                        <div class="panel-body" style="padding: 40px;">

                                            <form id="register-form" name="register-form" class="nobottommargin" action="<?php echo $_SERVER['PHP_SELF'] ?>" method="post">

                                                <div class="col_full">
                                                    <input type="hidden" id="is-client" name="is-client" value="0" />
                                                    <label for="full-name">Full Name / Company Name:</label>
                                                    <input type="text" id="full-name" name="full-name" value="<?php echo (isset($pro_full_name) ? (safe_echo($pro_full_name)) : ''); ?>" class="form-control" />
                                                </div>

                                                <div class="col_full">
                                                    <label for="email">Email Address:</label>
                                                    <input type="text" id="email" name="email" value="<?php echo (isset($pro_email) ? (safe_echo($pro_email)) : ''); ?>" class="form-control" />
                                                </div>

                                                <div class="col_full">
                                                    <label for="is-individual">I am a:</label>
                                                    <select class="select-1 form-control" style="width:100%;" name="is-individual">
                                                        <option value="1" <?php echo (isset($is_individual) && $is_individual == "1" ? 'selected' : ''); ?>>Individual</option>
                                                        <option value="0"<?php echo (isset($is_individual) && $is_individual == "0" ? 'selected' : ''); ?>>Company</option>
                                                    </select>
                                                </div>

                                                <div class="col_full">
                                                    <label for="password">Password:</label>
                                                    <input type="password" id="password" name="password" value="" class="form-control" />
                                                </div>

                                                <div class="col_full">
                                                    <label for="repassword">Re-enter Password:</label>
                                                    <input type="password" id="repassword" name="repassword" value="" class="form-control" />
                                                </div>

                                                <div class="col_full nobottommargin">
                                                    <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-pro-form-submit" value="register">Register Now</button>
                                                    <a href="/login.html" class="fright">Already have an Account? </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content clearfix" id="tabs-2">


                        <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tab-register">
                                    <div class="panel panel-default nobottommargin">
                                        <div class="panel-body" style="padding: 40px;">

                                            <form id="register-form" name="register-form" class="nobottommargin" action="<?php echo $_SERVER['PHP_SELF'] ?>" method="post">

                                                <div class="col_full">
                                                    <input type="hidden" id="is-client" name="is-client" value="1" />
                                                    <label for="full-name">Full Name / Company Name:</label>
                                                    <input type="text" id="full-name" name="full-name" value="<?php echo (isset($client_full_name) ? (safe_echo($client_full_name)) : ''); ?>" class="form-control" />
                                                </div>

                                                <div class="col_full">
                                                    <label for="email">Email Address:</label>
                                                    <input type="text" id="email" name="email" value="<?php echo (isset($client_email) ? (safe_echo($client_email)) : ''); ?>" class="form-control" />
                                                </div>

                                                <div class="col_full">
                                                    <label for="is-individual">I am a:</label>
                                                    <select class="select-1 form-control" style="width:100%;" name="is-individual">
                                                        <option value="1" <?php echo (isset($is_individual) && $is_individual == "1" ? 'selected' : ''); ?>>Individual</option>
                                                        <option value="0"<?php echo (isset($is_individual) && $is_individual == "0" ? 'selected' : ''); ?>>Company</option>
                                                    </select>
                                                </div>

                                                <div class="col_full">
                                                    <label for="country">Country:</label>
                                                    <div class="clearfix"></div>
                                                    <select id="country" name="country" style="width:100%;" class="select-1 form-control">
                                                      <?php foreach ($countries as $key => $value){ ?>
                                                          <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                                      <?php } ?>
                                                    </select>
                                                </div>

                                                <div class="col_full">
                                                    <label for="password">Password:</label>
                                                    <input type="password" id="password" name="password" value="" class="form-control" />
                                                </div>

                                                <div class="col_full">
                                                    <label for="register-form-repassword">Re-enter Password:</label>
                                                    <input type="password" id="repassword" name="repassword" value="" class="form-control" />
                                                </div>

                                                <div class="col_full nobottommargin">
                                                    <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-client-form-submit" value="register">Register Now</button>
                                                    <a href="/login.html" class="fright">Already have an Account? </a>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</section><!-- #content end -->

<?php require_once 'shared/login_footer.html'; ?>


<script type="text/javascript">
    jQuery(document).ready( function($){
        $(".select-1").select2();
    })
</script>