<?php $html_title = 'Promotion Ad'; ?>
<?php require_once "shared/login_header.html"; ?>
<?php require_once "../config.php"; ?>
<?php require_once(ROOT_PATH."/forms/login_form.php"); ?>

<!-- Content
============================================= -->
<section id="slider" class="boxed-slider">

  <div class="container clearfix">

    <div class="nivoSlider">
      <img src="/assets/images/slider/boxed/1.jpg" alt="Slider 1" title="#nivocaption1" />
      <img src="/assets/images/slider/boxed/2.jpg" alt="Slider 2" title="#nivocaption2" />
      <img src="/assets/images/slider/boxed/3.png" alt="Slider 3" title="#nivocaption3" />
      <img src="/assets/images/slider/boxed/4.jpg" alt="Slider 4" title="#nivocaption4" />
      <img src="/assets/images/slider/boxed/5.jpg" alt="Slider 5" title="#nivocaption5" />
    </div>

    <div id="nivocaption1" class="nivo-html-caption">Hire a Professional !</div>
    <div id="nivocaption2" class="nivo-html-caption">Give bust to your skill</div>
    <div id="nivocaption3" class="nivo-html-caption">Very Low Fee, No charges for client</div>
    <div id="nivocaption4" class="nivo-html-caption">Develop Strong and Reliable Professional network</div>
    <div id="nivocaption5" class="nivo-html-caption">Increase your Business</div>

  </div>

</section>

<?php require_once 'shared/login_footer.html'; ?>