.modal-content{
    border-radius: 1px;
}

.button.button-3d{
    border-radius: 1px;
}

.button-black{
    background-color: #061f4d;
}

.button-black:hover{
    background-color: #061f4d;
}

.panel{
    border-radius: 1px;
}