.btn{
    border-radius: .01rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.btn-primary{
    /*background-color: #00ADEC;*/
    /*border-color: #0086C6;*/
}

.logo-text > .pro{
 font-family: 'Yanone Kaffeesatz', sans-serif;
 color: #042e7a;
 font-weight: bold;
 padding-right: 10px;
}

.logo-text > .work{
 font-family: 'Yanone Kaffeesatz', sans-serif;
 color: #666666;
}

ul.tab-nav li a i.font-registration-tab{
    font-size: 12px;
}
