<?php if (isset($success_messages) && is_array($success_messages)): ?>
  <?php foreach ($success_messages as $success_message): ?>
        <div class="style-msg successmsg">
            <div class="sb-msg">
                <i class="icon-thumbs-up"></i>
                <strong>Well done!</strong> <?php echo $success_message; ?>
            </div>
        </div>
  <?php endforeach; ?>
<?php endif; ?>
