<?php if(isset($alert_messages) && is_array($alert_messages)): ?>
   <?php foreach ($alert_messages as $alert_message): ?>
    <div class="style-msg alertmsg">
      <div class="sb-msg"><i class="icon-remove"></i><strong>Oh snap!</strong> <?php echo $alert_message; ?></div>
    </div>
    <?php endforeach; ?>
<?php endif; ?>
