<?php if (isset($errors) && is_array($errors)): ?>
  <?php foreach ($errors as $error): ?>
        <div class="style-msg errormsg">
            <div class="sb-msg"><i class="icon-remove"></i><strong>Oh snap!</strong> <?php echo $error; ?></div>
        </div>
  <?php endforeach; ?>
<?php endif; ?>
