<!-- Footer
============================================= -->
<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2016-2017 All Rights Reserved by ProDeskWork ltd.<br>
                <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a>/ <a id="user_skill"  data-toggle="modal" data-target=".bs-user-skill-modal-lg"href="#">Want a new Skill in Platform ?</a></div>
            </div>

            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <a href="https://www.facebook.com/ProDeskWorkDotCom/" class="social-icon si-small si-borderless si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="https://twitter.com/ProDeskWork" class="social-icon si-small si-borderless si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->


<!-- User Skill model   ============================================= -->
<?php require_once 'skill_request.html'; ?>
<!-- End User skill Model -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>


<?php require_once ROOT_PATH .'/public/assets/application.js.html'; ?>

<script>
    jQuery(document).ready( function($){
        var newDate = new Date(2017, 6, 31);
        $('#countdown-ex1').countdown({until: newDate});
    });
</script>

<script type="text/javascript">

    jQuery(document).ready(function($) {

        $('.nivoSlider').nivoSlider({
            effect: 'random',
            slices: 50,
            boxCols: 12,
            boxRows: 6,
            animSpeed: 500,
            pauseTime: 6000,
            directionNav: true,
            controlNav: true,
            pauseOnHover: true,
            prevText: '<i class="icon-angle-left"></i>',
            nextText: '<i class="icon-angle-right"></i>',
            afterLoad: function(){
                $('#slider').find('.nivo-caption').addClass('slider-caption-bg');
            }
        });

    });

</script>

</body>
</html>

<?php ob_end_flush(); ?>
