<div class="modal fade bs-user-skill-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Request a Skill</h4>
                </div>

                <div class="bs-callout bs-callout-warning hidden">
                  <h4>Oh snap!</h4>
                  <p>This form seems to be invalid :(</p>
                </div>

                <div class="bs-callout bs-callout-info hidden">
                  <h4>Yay!</h4>
                  <p>Everything seems to be ok :)</p>
                </div>

                <div class="modal-body">
                    <form data-parsley-validate="" id="Skill-form" name="skill-form" action="/skills/request.html"  method="POST" class="nobottommargin">
                        <div class="col_full">
                            <label for="skill_name">Skill name:</label>
                            <input id="skill_name" data-parsley-trigger="keyup" data-parsley-minlength="3" data-parsley-maxlength="20" data-parsley-minlength-message="Come on! You need to enter at least a 3 character in skill field." data-parsley-validation-threshold="10" required="" name="skill_name" value="" class="form-control" type="text">
                        </div>

                        <div class="col_full">
                            <label for="wikipedia_url">Wikipedia Url:</label>
                            <input id="wikipedia_url" name="wikipedia_url" value="" required="" class="form-control" type="url">
                        </div>

                         <div class="col_full">
                            <label for="description">Description (100 chars min, 1000 max) :</label>
                            <textarea id="description" name="description" required="" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="100" data-parsley-maxlength="1000" data-parsley-minlength-message="Come on! You need to enter at least a 100 character in description." data-parsley-validation-threshold="10"></textarea>
                        </div>

                        <div class="col_full nobottommargin">
                            <button  type="submit" class="button button-3d button-black nomargin" id="skill-form-submit" name="skill_form_submit" value="Save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
